:root {
    /* The main accent color and the matching text value */
    --adw-accent-bg-rgb: 147, 147, 195 !important;
    --adw-accent-fg-rgb: 5, 26, 43 !important;
    --adw-accent-rgb: 147, 147, 195 !important;

	/* destructive-action buttons */
    --adw-destructive-bg-rgb: 178, 117, 117 !important;
    --adw-destructive-fg-rgb: 134, 143, 123 !important;
    --adw-destructive-rgb: 178, 117, 117 !important;

	/* Levelbars, entries, labels and infobars. These don't need text colors */
    --adw-success-bg-rgb: 128, 183, 128 !important;
    --adw-success-fg-rgb: 5, 26, 43 !important;
    --adw-success-rgb: 128, 183, 128 !important;

    --adw-warning-bg-rgb: 223, 223, 195 !important;
    --adw-warning-fg-rgb: 5, 26, 43 !important;
    --adw-warning-fg-a: 0.8 !important;
    --adw-warning-rgb: 223, 223, 195 !important;

    --adw-error-bg-rgb: 178, 117, 117 !important;
    --adw-error-fg-rgb: 5, 26, 43 !important;
    --adw-error-rgb: 178, 117, 117 !important;

	/* Window */
    --adw-window-bg-rgb: 5, 26, 43 !important;
    --adw-window-fg-rgb: 134, 143, 123 !important;

	/* Views - e.g. text view or tree view */
    --adw-view-bg-rgb: 5, 26, 43 !important;
    --adw-view-fg-rgb: 134, 143, 123 !important;

	/* Header bar, search bar, tab bar */
    --adw-headerbar-bg-rgb: 5, 26, 43 !important;
    --adw-headerbar-fg-rgb: 134, 143, 123 !important;
    --adw-headerbar-border-rgb: 76, 86, 65 !important;
    --adw-headerbar-backdrop-rgb: 5, 26, 43 !important;
    --adw-headerbar-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-shade-a: 0.36 !important;
    --adw-headerbar-darker-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-darker-shade-a: 0.9 !important;

	/* Split pane views */
    --adw-sidebar-bg-rgb: 5, 26, 43 !important;
    --adw-sidebar-fg-rgb: 134, 143, 123 !important;
    --adw-sidebar-backdrop-rgb: 76, 86, 65 !important;
    --adw-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-sidebar-shade-a: 0.36 !important;
    --adw-secondary-sidebar-bg-rgb: 5, 26, 43 !important;
    --adw-secondary-sidebar-fg-rgb: 134, 143, 123 !important;
    --adw-secondary-sidebar-backdrop-rgb: 76, 86, 65 !important;
    --adw-secondary-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-secondary-sidebar-shade-a: 0.36 !important;

	/* Cards, boxed lists */
    --adw-card-bg-rgb: 255, 255, 255 !important;
    --adw-card-bg-a: 0.08 !important;
    --adw-card-fg-rgb: 255, 255, 255 !important;
    --adw-card-shade-rgb: 0, 0, 0 !important;
    --adw-card-shade-a: 0.36 !important;

	/* Dialogs */
    --adw-dialog-bg-rgb: 5, 26, 43 !important;
    --adw-dialog-fg-rgb: 134, 143, 123 !important;

    /* Popovers */
    --adw-popover-bg-rgb: 5, 26, 43 !important;
    --adw-popover-fg-rgb: 134, 143, 123 !important;
    --adw-popover-shade-rgb: 0, 0, 0 !important;
    --adw-popover-shade-a: 0.36 !important;

	/* Thumbnails */
    --adw-thumbnail-bg-rgb: 5, 26, 43 !important;

	/* Miscellaneous */
    --adw-shade-rgb: 0, 0, 0 !important;
    --adw-shade-a: 0.36 !important;
}
