:root {
--color00: #051A2B;
--color01: #051A2B;
--color02: #051A2B;
--color03: #f9bc8a;
--color04: #868f7b;
--color05: #868f7b;
--color06: #868f7b;
--color07: #868f7b;
--color08: #b27575;
--color09: #bdbd89;
--color0A: #dfdfc3;
--color0B: #80b780;
--color0C: #7cb6b6;
--color0D: #9393c3;
--color0E: #ae6fae;
--color0F: #d5aeae;
}
